/* DetailsBar.css */
.details-bar {
    background-color: rgb(8, 8, 63);
    border-radius: 8px;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-right: 20px;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  
  .details-bar h2 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  
  .details-bar p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contact-item span {
    margin-left: 10px;
  }
  
  .circles {
    display: flex;
    margin-bottom: 20px;
  }
  
  .big-circle {
    width: 50px;
    height: 50px;
    background-color: #ff0000;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .small-circle {
    width: 30px;
    height: 30px;
    background-color: #690e0e;
    border-radius: 50%;
  }
  
  .social-icons a {
    margin: 0 5px;
    display: inline-block;
  }
  